Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  performance-*,
  readability-else-after-return,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr

WarningsAsErrors: ''
HeaderFilterRegex: '^(engine/.*|tests/.*)$'

CheckOptions:
  - key: cppcoreguidelines-narrowing-conversions.PedanticMode
    value: 'false'
  - key: cert-oop57-cpp.WarnOnLargeObjects
    value: 'false'